html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
}

header {
  padding: 5% 0 5% 0;
}

header h1 {
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

.container {
  width: 99%;
  margin: auto;
}

/*FORM styling*/
.filter-form {
  width: 100%;
}

.horizontal {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.horizontal .horizontal {
  width: 100%;
  padding-top: 5px;
  flex-direction: row;
  justify-content: space-around;
}

input[type="search"] {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #666;
}

/*Custom radio buttons*/
.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 50%;
}
.custom-radio:hover input ~ .radio-check {
  background-color: #ccc;
}
.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .radio-check:after {
  display: block;
}

.custom-radio:hover input:checked ~ .radio-check {
  background-color: #eee;
}

.custom-radio .radio-check:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(153, 136, 136, 0.75);
}

/*Output styling*/
.loading {
  height: 100px;
  padding: 10px;
  text-align: center;
}

.output {
  margin-bottom: 1%;
  border: 1px solid #666;
  background: rgba(153, 153, 200, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.output h4 {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 1px #aaa;
}
.row:hover {
  background: rgba(180, 180, 225, 0.5);
}
.row > div.text-data {
  padding: 2%;
  flex-grow: 1;
  width: 23%;
}
.row > div.text-data:last-child {
  padding: 2%;
  flex-grow: 1;
  width: 23%;
}
.thumbnail {
  padding-top: 2%;
  width: 8%;
  border: 0px;
  background: transparent;
}
.thumbnail img {
  border-radius: 50%;
}
.row > div.close {
  font-family: monospace;
  padding: 5%;
  text-align: center;
}

/*On bigger screens*/
@media (min-width: 700px) {
  .container {
    width: 70%;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .horizontal .horizontal {
    width: 50%;
    justify-content: space-around;
  }
  input[type="search"] {
    width: 50%;
  }
}

@media (min-width: 998px) {
  .container {
    width: 70%;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .horizontal .horizontal {
    width: 40%;
    justify-content: space-around;
  }
  input[type="search"] {
    width: 60%;
  }
}
